.contactContainer {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: 50px auto;
    flex-wrap: wrap;
}

.informations {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
}

.informations input {
    flex-basis: 80px;
}

.mapa img {
    width: 100vw;
}

@media (max-width: 720px) {
    .contactContainer {
        display: flex;
        justify-content: space-around;
        max-width: 1400px;
        margin: 50px auto;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .mapa img {
        display: none;
    }
}