@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.container {
  margin: 0 auto;
  overflow-x: hidden!important;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: #c10f1b;
}

p {
  text-align: center;
  font-size: 0.9em;
} 